@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), "system-ui", sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
}
